<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2014 Amberfog.
  ~
  ~ This source code is Amberfog Confidential Proprietary
  ~ This software is protected by copyright. All rights and titles are reserved.
  ~ You shall not use, copy, distribute, modify, decompile, disassemble or reverse
  ~ engineer the software. Otherwise this violation would be treated by law and
  ~ would be subject to legal prosecution. Legal use of the software provides
  ~ receipt of a license from the right holder only.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amberfog.countryflagsdemo" >

    <!-- optional permission to get country from phone -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".FlagsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
